body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding: 100px
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(200deg, #b8ff00b8 -51.82%, #d3267f 84%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 30px;
  background-color: aquamarine;
  border-radius: 50%;
  border-style: solid ;
}

.header--title {
  font-size: 35px;
  margin-right: auto;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px
}

.fInput {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}
.submit-btn {
  grid-column: 1 / -1;
  border-radius: 25px;
  background: linear-gradient(200deg, #b8ff00b8 -51.82%, #d3267f 84%);
  color: white;
  border: solid rgb(0, 0, 0);
  cursor: pointer;
}